.select-file-input{
    display: none;
  }
  
  .select-file-label{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #9842f0;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    box-shadow: 3px 4px 0 #450685;
    user-select: none;
  }
  .select-file-label:hover{
    box-shadow: 0 0 0 #450685;
  }
  .upload-pdf-header{
    margin: 25px 0 25px 0;
  }
  .upload-pdf-header h4{
    color: #450685;
  }